*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::selection {
  background-color: #a8dadc;
  color: #f1faee; }

.hero {
  height: 100vh;
  background-color: #a8dadc; }

.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%); }
  .nav__item {
    height: 3rem;
    margin: 0.5rem 0; }
