@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f1faee; }

::selection {
  background-color: #a8dadc;
  color: #f1faee; }

a {
  text-decoration: none; }

.menu {
  font-family: "Roboto", sans-serif; }

.btn {
  outline: none;
  border: none;
  padding: 1.3rem 3.5rem;
  position: relative;
  background-color: transparent;
  z-index: 1;
  font-family: "Inconsolata", "Deja Vu Sans Mono", "Consolas", "Monaco", "Courier";
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s; }
  .btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #a8dadc;
    top: 0.6rem;
    right: 0.6rem;
    z-index: -1;
    transition: all 0.3s; }
  .btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: solid black 1px;
    width: 100%;
    height: 100%;
    transition: all 0.3s; }
  .btn:hover::before {
    transform: translate(0.6rem, -0.6rem); }
  .btn:hover::after {
    transform: translate(-0.6rem, 0.6rem); }

.footer {
  background-color: green;
  grid-row: 3 / 4;
  grid-column: 1 / 2; }

.hero {
  grid-column: 0 / 1;
  grid-row: 0 / 1;
  height: 100vh;
  background-color: orangered; }

.red-line {
  height: 25vh;
  width: 1px;
  position: fixed;
  top: 50%;
  left: 2rem;
  transform: translate(-50%, -50%);
  background-color: #e63946; }

.backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  opacity: 0;
  transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #a8dadc;
  visibility: hidden; }

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }
  .menu__item {
    margin: 1rem; }
  .menu__link {
    transition: all 0.3s; }
    .menu__link:link, .menu__link:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 250%;
      transition: all 0.5s; }
      .menu__link:link span, .menu__link:visited span {
        margin-right: 1.5rem;
        display: inline-block; }
    .menu__link:hover, .menu__link:active {
      background-position: 100%;
      color: #a8dadc;
      transform: translateX(1rem); }

.visible {
  visibility: visible;
  opacity: 1; }

.nav {
  grid-column: 1/2;
  grid-row: 1 / 4;
  background-color: orchid;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0rem;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; }
  .nav__item {
    height: 3rem;
    margin: 0.5rem 0; }

.portfolio {
  grid-row: 2/3;
  background-color: yellow; }

.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 80vw 1fr; }
