// COLORS
$color-primary: #a8dadc;
$color-primary-light: #f1faee;
$color-primary-dark: #457b9d;

$color-secondary: #1d3557;

$color-red: #e63946;
$color-black: #000;
$color-white: #fff;

// FONT
$default-font-size: 1.6rem;

$font-open-sans: "Open Sans", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-roboto-slab: "Roboto Slab", serif;

// GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;
/* Hi, I’m */
