.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 2rem;
  z-index: 1000;

  visibility: hidden;
  opacity: 0;

  @include respond(tab-port) {
    visibility: visible;
    opacity: 1;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__item {
    height: 3rem;
    margin: 0.5rem 0;
  }
}
