.nav {
  grid-column: 1/2;
  grid-row: 1 / 4;

  background-color: orchid;

  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0rem;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  &__item {
    height: 3rem;
    margin: 0.5rem 0;
  }
}
