.portfolio {
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;

  &__latest {
    text-align: center;
    font-family: $font-open-sans;
    font-weight: 300;
  }

  &__item {
    margin-top: 2rem;
    padding: 1rem 2rem;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: center;

    @include respond(tab-port) {
      flex-direction: row;
    }
  }
  &__item::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: $color-black;
    top: -0.6rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

  &__desc {
    padding: 1rem 2rem;

    @include respond(tab-port) {
      width: 55%;
      padding: 1rem 6rem;
    }

    h2 {
      font-family: $font-open-sans;
      font-weight: 300;
    }
    p {
      font-family: $font-roboto;
    }
  }

  &__imgs {
    padding: 1rem 2rem;

    @include respond(tab-port) {
      width: 45%;
    }
    & img {
      margin-top: 2rem;
      width: 100%;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      @include respond(tab-port) {
        width: 90%;
      }
    }

    &--left {
      order: 1;
      @include respond(tab-port) {
        order: 0;

        text-align: right;
      }
    }
  }

  &__icons {
    margin-top: 1rem;
    margin-bottom: 1rem;

    & img {
      height: 4rem;
      display: inline-block;
      margin-right: 0.8rem;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & img {
      height: 4rem;
      display: inline-block;
      margin-right: 2rem;
    }
  }
}
/* LATEST WORK */

/* image 37 */
