*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // defines what 1rem is
  font-size: 62.5%;

  @include respond(tab-port) {
    font-size: 80%;
  }

  @include respond(tab-land) {
    font-size: 90%;
  }

  @include respond(big-desktop) {
    font-size: 100%;
  }
}

body {
  box-sizing: border-box;
  background-color: $color-primary-light;
}

::selection {
  background-color: $color-primary;
  color: $color-primary-light;
}

a {
  text-decoration: none;
}
